html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f8f9fa; /* Fallback color in case the image fails to load */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/loginbg.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1; /* Ensure it stays behind the content */
}

.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8); /* Form background dengan transparansi */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan form */
  font-family: Arial, sans-serif;
  text-align: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
